@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:30px;">
    <li class="breadcrumb-item">
        <a href="/Dashboard/LMISDashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Companies</li>
</ol>

@(Html.EJ().Grid<object>("Grid")
                .Datasource(datasource => datasource.URL("GetCompanies").InsertURL("CompanyInsert").UpdateURL("CompanyUpdate").Adaptor(AdaptorType.UrlAdaptor))
                .ShowColumnChooser()
                .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
                {
                    items.AddTool(ToolBarItems.Add);
                    items.AddTool(ToolBarItems.Edit);
                    items.AddTool(ToolBarItems.Delete);
        //items.AddTool(ToolBarItems.Update);
        items.AddTool(ToolBarItems.Cancel);
                    items.AddTool(ToolBarItems.Search);
                    items.AddTool(ToolBarItems.ExcelExport);
                }))
                .AllowSearching().SearchSettings(search =>
                {
                    search.Fields(fields =>
                    {

                    });
                    search.Operator(Operator.Contains);
                    search.IgnoreCase(true);
                })
                    .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"); })
                 .TextWrapSettings(wrap => { wrap.WrapMode(WrapMode.Both); })
                .AllowSorting().AllowFiltering().ShowColumnChooser().AllowGrouping().AllowTextWrap().AllowPaging().PageSettings(page => page.PageSize(100)).IsResponsive().AllowResizeToFit()
                .AllowScrolling().ScrollSettings(scroll => { scroll.Width("100%"); }).FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
                .Columns(col =>

                {

                    col.Field("ID").HeaderText("Company ID").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width("80").AllowEditing().Add();

                    col.Field("Name").HeaderText("Name").TextAlign(TextAlign.Left).Priority(4).Width("140").AllowEditing().Add();

                    col.Field("Location").HeaderText("Address").Width("100").AllowEditing(false).Add();

                    col.Field("CountryCode").HeaderText("Country").IsPrimaryKey(false).TextAlign(TextAlign.Left).Priority(4).Width(180).ForeignKeyField("CountryCode").ForeignKeyValue("CountryName").DataSource((IEnumerable<object>)ViewBag.Nationality).Add();

                    col.Field("Email").HeaderText("Email").AllowFiltering(false).Width("200").AllowEditing().Add();

                    col.Field("Phone").HeaderText("Mobile Phone").AllowFiltering(false).TextAlign(TextAlign.Left).Priority(4).Width("100").AllowEditing().Add();

                }).ClientSideEvents(evt => evt.ToolbarClick("OnToolbarClick9").Create("create").ActionComplete("edit")))

<script type="text/template" id="template" @*style="width: 100%"*@>
    <div style="width:1400px"></div>
    <div id="defaultTab" style="width: 100%;">
        <div id="tab1">
            <table style="width:100%;" @*id="table2" border="1" cellpadding="3" cellspacing="0" border-collapse="none"*@>
                <tr>
                    <td style="text-align:left; width:10%;">Company ID</td>
                    <td style="text-align: left"> <input type="text" id="ID" style="min-width:98%;" readonly="readonly" name="ID" value="{{:ID}}" class="form-control" /> </td>
                    <td style="text-align: left; width:10%;" id="ReceiivedDate">Company Name</td>
                    <td style="text-align: left;  width:50%;"> <input type="text" style="min-width:98%;" id="Name" name="Name" value="{{:Name}}" class="form-control" /></td>
                </tr>
                <tr>

                    <td style="text-align: left;">Address</td>
                    <td style="text-align: left"> <input type="text" style="min-width:98%;" id="Location" name="Location" value="{{:Location}}" class="form-control" /> </td>

                    <td style="text-align: left;">Country of Operation</td>
                    <td style="text-align: left"> <input style="min-width:98%;" id="CountryCode" name="CountryCode" value="{{:CountryCode}}" class="form-control" /> </td>
                </tr>
                <tr>
                    <td style="text-align: left;">Phone</td>
                    <td style="text-align: left"> <input style="min-width:98%;" type="text" id="Phone" name="Phone" value="{{:Phone}}" class="form-control " /> </td>
                    <td style="text-align: left;">Email</td>
                    <td style="text-align: left"> <input style="min-width:98%;" type="text" id="Email" name="Email" value="{{:Email}}" class="form-control" /> </td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script>
    function edit(args) {
        if (args.requestType == "beginedit" || args.requestType == "add") {
            window.requestType = args.requestType;
            $($("#EditDialog_Grid_Save").hide()).after('<button id="save" type="button" onclick="savess();" class="btn btn-success btn-sm" > <span class="glyphicon glyphicon-save"></span> Save Company</button>');
            $("#save").css({ "width": "200px", "height": "50px", "font-size": "17px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            $("#EditDialog_Grid_Cancel").ejButton("destroy");
            $($("#EditDialog_Grid_Cancel").hide()).after(' <button type="button" id="cancel" onclick="cancelss()" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>');
            $("#cancel").css({ "width": "100px", "height": "50px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            $("#Grid_dialogEdit_closebutton").hide();
            var objDialog = $("#Grid").data("ejGrid");
            $("#" + objDialog._id + "_dialogEdit").ejDialog({ open: "open" });
            $('#CountryCode').ejDropDownList({

                dataSource: @Html.Raw(Json.Encode(ViewBag.Nationality)),
                enabled: true,
                width: "98%",
                //change: "setCommunicated_Lev3",
                fields: { value: "CountryCode", text: "CountryName" },
            }).data("ejDropDownList");

        }
    }
    function open(args) {

        var objDialog = $("#Grid").data("ejGrid");
        var $dialogWrapper = objDialog.element.find("#" + objDialog._id + "_dialogEdit_wrapper");
        $dialogWrapper.css("top", "10px");
        $dialogWrapper.css("left", "0px");
        $dialogWrapper.css("right", "0px");
    }
    function savess(args) {
        var obj = $("#Grid").ejGrid("instance");
        obj.endEdit();
        obj.refreshContent();
    }
    function cancelss(args) {
        var obj = $("#Grid").ejGrid("instance")
        obj.cancelEdit();
    }
</script>